upstream app_upstream {
    server ${PROXY_HOST}:${PROXY_PORT};
}
##START_SSL_UPSTREAM##
upstream app_ssl_upstream {
    server ${PROXY_HOST}:${PROXY_SSL_PORT};
}
##END_SSL_UPSTREAM##
server {
    listen 80;
    server_name ${SERVER_NAME};

    location / {
        proxy_pass http://app_upstream;
    }
}
##START_SSL_SERVER##
server {
    listen 443;
    server_name ${SERVER_NAME};

    location / {
        proxy_pass https://app_ssl_upstream;
    }
}
##END_SSL_SERVER##
